@import url(../configs/palette.css);

.formulario{
    
    border-radius: 2em;
    width: 30vw;
    
}

.botonGrande{
    width: 20vw;
}

.boton{
    color: black !important;
    border-color: var(--persian-green) !important;
    font-weight: bold !important;
    background-color: white !important;
    transition: background-color 0.5s !important;
}

.botonCancelar{
    color: black !important;
    border-color: var(--burnt-sienna) !important;
    font-weight: bold !important;
    background-color: white !important;
    transition: background-color 0.5s !important;
}

.boton:hover{
    color: black !important;
    background-color:  var(--persian-green) !important;
}

.botonCancelar:hover{
    color: black !important;
    background-color:  var(--burnt-sienna) !important;
}

@media (max-width: 1000px){
    .formulario{
        width: 300px;
    }
    .botonGrande{
        width: 100px;
    }
}