@import "configs/palette.css";


html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  



































  
  /* @import "configs/palette.css";




#sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--charcoal);
    overflow-x: auto;
    padding-top: 20px;
    text-align: center;
    
} 

.header {
    color: white;
    padding: 10px;
    text-align: center;

} */
