@import "configs/palette.css";

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--charcoal);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.header {
    color: white;
    padding: 10px;
    text-align: center;

}

