@import "../configs/palette.css";


.mynav {
  color: #fff;
}

.mynav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
  font-weight: light;
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--charcoal);
  }
  .mynav .nav-item .nav-link {
    font-size: 1rem;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--charcoal);
  }
  .mynav .nav-item .nav-link {
    font-size: 0.8rem;
    padding: 5px;
  }
}


.mynav .nav-item .nav-link.active {
  background: rgba(255, 255, 255, 0.2);
}

.mynav .nav-item .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mynav .nav-item .nav-link i {
  width: 25px;
  text-align: center;
}
.bg-success {
  background-color: var(--charcoal) !important;
}
